@import '@/assets/scss/vars.scss';
@import '@/assets/scss/mixins.scss';
  
.main-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 50px;
  z-index: 999;
  box-sizing: border-box;
  position: absolute;

  @include to-mobile {
    padding-top: 20px;
  }

  &.-small {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f5f6fa;
  }

  &.-bg-white {
    background-color: #fff;
  }

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.-reverce {
      flex-direction: row-reverse;
    }

    > .actions {
      display: flex;
      justify-content: space-between;
      position: relative;
      
      &.-animation {
        opacity: 0;
        animation-name: fadeDown;
        animation-delay: 0.15s;
        animation-duration: 0.9s;
        animation-fill-mode: forwards;
        transform: translate3d(0, -100px, 0);
      }
    }
  }
}