
  <div class='container -center-box _container-fix'>
    <div class='project-form -w-large'>
      <div class='container'>
        <h2 class='title -white'>{{title}}</h2>
        <form action='' class='form'>
          <label class='item'>
            <input type='text' class='field -input -white -small ' placeholder='Full Name *' required>
          </label>
          <label class='item'>
            <input type='email' class='field -input -white -small' placeholder='Email Address *' required>
          </label>
          <label class='item'>
              <textarea class='field -textarea -white' placeholder='Message *' required=''></textarea>
            </label>
          <div class='button'>
            <button class='j-button -fill-on-gray-bg -w100 js-send-form'><span class='text'>Send</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
