<div class='item {{cardModClass}}'>
  <div class='box {{boxModClass}}'>
    <div class='img {{modClassImg}}'>
      {{#is imgType '==' 'img'}}
      <img src='{{img}}' class='icon' width='{{imgW}}' height='{{imgH}}' alt='icon'>
      {{else}}
      {{{img}}}
      {{/is}}
      {{#is subinfo '!=' ''}}
      <div class='subinfo'>{{subinfo}}</div>
      {{/is}}
    </div>
    {{#is title '!=' 'false'}}
    <h2 class='title {{modClassTitle}}'>{{title}}</h2>
    {{/is}}
    {{#is subTitle '!=' 'false'}}
    <h3 class='subtitle'>{{subTitle}}</h3>
    {{/is}}
    {{#is descr '!=' 'false'}}
    <p class='descr'>{{{descr}}}</p>
    {{/is}}
    {{#is isHoverBox '==' 'true'}}
    <a href='#' class='overlay -bg-light-blue'>
      {{Icon iconName='i-hand-tablet' className='hand' iconWidth='' iconHeight=''}}
      <span class='text'>{{this.hoverText}}</span>
    </a>
    {{/is}}
    {{#is buttons '!=' ''}}
    {{#each this.buttons}}
    <div class='button'>
      {{#is this.type '==' 'link'}}
      <a href='{{this.link}}' class='j-button {{this.class}}'><span class='text'>{{this.text}}</span></a>
      {{/is}}
    </div>
    {{/each}}
    {{/is}}
  </div>
</div>
