<div class='item {{cardModClass}}' {{{this.aosAnimation}}}> 
  <div class='box {{boxModClass}}'>
    {{#is subinfo '!=' ''}}
    <div class='subinfo'>{{subinfo}}</div>
    {{/is}}
    {{#is imgType '==' 'img'}}
    <div class='img {{modClassImg}}'>
      <img src='{{img}}' class='icon' width='{{imgW}}' height='{{imgH}}' alt='icon'>
    </div>
    {{/is}}
    {{#is imgType '==' 'svg'}}
    <div class='img {{modClassImg}}'>
      {{{img}}}
      {{#is subinfo '!=' ''}}
      <div class='subinfo'>{{subinfo}}</div>
      {{/is}}
    </div>
    {{/is}}
    {{#is title '!=' 'false'}}
    <h2 class='title {{modClassTitle}}'>{{title}}</h2>
    {{/is}}
    {{#is subTitle '!=' 'false'}}
    <h3 class='subtitle'>{{subTitle}}</h3>
    {{/is}}
    {{#is descr '!=' 'false'}}
    <p class='descr {{{modClassDescr}}}'>{{{descr}}}</p>
    {{/is}}
    {{#is isHoverBox '==' 'true'}}
    <a href='#' class='overlay -bg-light-blue'>
      {{Icon iconName='i-hand-tablet' className='hand' iconWidth='' iconHeight=''}}
      <span class='text'>{{this.hoverText}}</span>
    </a>
    {{/is}}
    {{#is buttons '!=' ''}}
    <div class='button {{buttonClass}}'>
      {{#each this.buttons}}
        {{#is this.type '==' 'link'}}
        <a href='{{this.link}}' class='j-button {{this.class}}'><span class='text'>{{this.text}}</span></a>
        {{/is}}
      {{/each}}
    </div>
    {{/is}}
  </div>
</div>
