.card-tile {
  @extend ._all-reset;

  font-size: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  &.-offset-top {
    padding-top: 80px;
  }

  &.-box-shadow {
    box-shadow: 0 3px 45px rgba($base, 0.1);
    border-radius: 3px;
    overflow: hidden;
  }

  > .item {
    display: inline-block;
    vertical-align: top;

    &.-three-col {
      width: 33.333%;
    }

    &.-two-col {
      width: 50%;
    }

    > .box {
      padding-left: 60px;
      padding-right: 60px;
      display: block;
      position: relative;
      max-width: 420px;
      margin-left: auto;
      margin-right: auto;

      &.-bg-white {
        background-color: #fff;
      }

      &.-square {
        height: 360px;
        padding-top: 95px;
        padding-bottom: 60px;
      }

      > .img {
        margin-bottom: 35px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;

        &.-logo-project {
          height: 90px;
        }

        &.-base-icon {
          height: 60px;
        }

        > .icon {
          margin-left: auto;
          margin-right: auto;
          display: block;

          &.-stroke {
            fill: none;
            stroke-width: 2px;
          }
        }
      }

      > .title {
        font-size: 16px;
        font-weight: 600;
        line-height: (30/16);
      }

      > .subtitle {
        font-size: 13px;
        font-weight: normal;
        line-height: (24/13);
        padding-bottom: 5px;
      }

      > .descr {
        font-size: 13px;
        line-height: (24/13);
      }

      > .title,
      > .subtitle,
      > .descr {
        text-align: center;
      }

      &.-color {
        > .title,
        > .subtitle {
          color: $base;
        }

        > .descr {
          color: $base-o;
        }

        > .img {
          > .icon {
            &.-stroke {
              stroke: $blue;
            }
          }
        }
      }

      &.-white {
        > .title,
        > .subtitle {
          color: #fff;
        }

        > .descr {
          color: rgba(#fff, 0.6);
        }

        > .img {
          > .icon {
            &.-stroke {
              stroke: #fff;
            }
          }
        }
      }

      > .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        > .hand {
          fill: none;
        }

        &.-bg-light-blue {
          @extend ._bg-light-blue;

          > .hand {
            stroke: rgba(#fff, 0.5);
            margin-bottom: 15px;
          }

          > .text {
            color: #fff;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }

      &:hover {
        > .overlay {
          opacity: 1;
        }
      }
    }
  }

  &.-inner-grid {
    > .item {
      border-right-width: 1px;
      border-top-width: 1px;
      border-right-style: solid;
      border-top-style: solid;

      @media (min-width: 1025px) {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          border-top-width: 0;
        }

        &:nth-child(3n) {
          border-right-width: 0;
        }
      }
    }
  }

  &.-inner-border-vertical {
    > .item {
      border-right-width: 1px;
      border-right-style: solid;

      &:first-child {
        border-left-width: 1px;
        border-left-style: solid;
      }
    }
  }

  &.-inner-border-gray {
    &.-inner-border-vertical,
    &.-inner-grid {
      > .item {
        border-color: #f0f1f3;
      }
    }
  }

  &.-inner-border-white {
    &.-inner-border-vertical,
    &.-inner-grid {
      > .item {
        border-color: rgba(#fff, 0.1);
      }
    }
  }
}
