/* stylelint-disable */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
/* stylelint-enable */
html {
  font-family: sans-serif;
  min-height: 100%;
  font-size: $font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $base;
  min-height: 100%;
  line-height: (20/14);
  margin: 0;

  @include font;

  &.-scroll-lock {
    height: 100vh;
    overflow: hidden;
  }
}

/* Global style */
a {
  text-decoration: none;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-width: 0;
  background-color: transparent;
  border-radius: 0;
}

input,
textarea,
select,
button {
  -webkit-appearance: none;
  border-radius: 0;
}

input::-ms-clear {
  display: none;
}

p,
ul,
h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  display: block;
}

._container-fluid,
._container-fix {
  margin-left: auto;
  margin-right: auto;
  width: $inner-width;
}

._container-fix {
  max-width: $limit-inner-width-normal;
}

._main {
  min-height: 100vh;
}

._all-reset {
  all: initial;
  color: $base;

  @include font;
}

._v-center {
  display: inline-block;
  vertical-align: middle;

  &::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
  }
}
