._all-reset {
  all: initial;
  color: $base;
  display: block;
  width: 100%;

  @include font;
}

._bg-cover {
  background-size: cover;
  background-position: center;
}

._bg-blue {
  background-color: $blue;
}

._bg-light-blue {
  background-color: $light-blue;
}

._bg-gray {
  background-color: $light-gray;
}

._bg-dark {
  background-color: $base;
}
