@mixin bg-cover {
  background-size: cover;
  // background-position: center;
}
@mixin bg-bottom {
  background-position: bottom center;
}
@mixin bg-blue {
  background-color: $blue;
}
@mixin bg-gray-gradient {
  background: linear-gradient(to bottom, rgba(218,221,226,1) 0%, rgba(239,239,243,1) 100%);
}
@mixin bg-light-blue {
  background-color: $light-blue;
}
@mixin bg-gray {
  background-color: $light-gray;
}
@mixin bg-dark {
  background-color: $base;
}


@mixin hid {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
@mixin vis {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

@mixin multi-ellipsis($font-size, $line-height, $lines-to-show) {
    display: block;
    display: -webkit-box;
    max-height: $font-size*$line-height*$lines-to-show+px;
    font-size: $font-size+px;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin anim($time) {
    transition: all ($time)+s cubic-bezier(.25,.1,.25,1);
}

@mixin ls($fz) {
    letter-spacing: ($fz/1000)+em;
}

@function r($pxw) {
    @return ($pxw/24)+rem;
}


// =============================================================================
// Font Face
// =============================================================================

// $name - название для font-family
// $path - путь к шрифту без формата
// $weight - font-weight
// $style - font-style
// $exts - форматы шрифта, которые используются
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
    otf: "opentype",
    ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}
