.inner-menu {
  @extend ._all-reset;

  font-size: 0;
  display: block;
  width: 100%;
  text-align: center;

  > .title {
    font-size: 26px;
    font-weight: normal;
    line-height: (48/36);

    @include ls(25);

    @include to-mobile {
      font-size: 16px;
    }

    &.-white {
      color: #fff;
    }
  }

  > .items {
    margin-top: 80px;

    @include to-mobile {
      margin-top: 40px;
    }
  }
}
