{
  "extends": [
    "jibrelnetwork",
  ],
  "globals": {
  },
  "rules": {
    "more/no-c-like-loops": 0,
    "fp/no-mutation": [2, {
      "allowThis": true,
      "exceptions": [
        { "property": "href" },
        { "property": "innerHTML" },
        { "property": "innerText" }
      ]
    }]
  }
}
