# JetBrains
*.iml
*.ipr
*.iws
.idea



node_modules
npm-debug.log

dev
docs
public
/data/*
appveyor.yml

.DS_Store
._.DS_Store

.tmpTemplater
.tmpPreproc
.idea
npm-debug.log
phantomjsdriver.log
/nbproject/*

**/sprite_96.*
**/svg-fallback-sprite.*
**/svg-sprite.*

.vscode
