# HTTP redirects to HTTPS
server {
  server_name jibrel.network www.jibrel.network;
  listen 80;
  listen [::]:80;

  include /etc/nginx/snippets/letsencrypt.conf;

  location / {
    return 301 https://jibrel.network$request_uri;
  }
}

# https://www.jibrel.network redirects to https://jibrel.network
server {
  server_name www.jibrel.network;
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  ssl_certificate /etc/letsencrypt/live/jibrel.network/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/jibrel.network/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/jibrel.network/fullchain.pem;
  include /etc/nginx/snippets/ssl.conf;

  location / {
    return 301 https://jibrel.network$request_uri;
  }
}

# Serves https://jibrel.network
server {
  server_name jibrel.network;
  listen 443 ssl http2;
  listen [::]:443 ssl http2 ipv6only=on;

  ssl_certificate /etc/letsencrypt/live/jibrel.network/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/jibrel.network/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/jibrel.network/fullchain.pem;
  include /etc/nginx/snippets/ssl.conf;

  root /home/jibrelnetwork/jibrel-website/public;
  index index.html;

  location / {
    try_files $uri $uri/ @fallback;

    set $frame_options 'ALLOW-FROM http://webvisor.com';
#    if ($http_referer !~ '^https?:\/\/([^\/]+\.)?(jibrel\.network|webvisor\.com)\/'){
#      set $frame_options 'SAMEORIGIN';
#    }
    add_header X-Frame-Options $frame_options;
  }

  location @fallback {
    return 301 http://jibrel.network;
  }
}
