@import '@/assets/scss/vars.scss';
@import '@/assets/scss/mixins.scss';

.typo-page {
  @include all-reset;

  display: block;
  width: 100%;
  box-sizing: border-box;

  @include to-mobile {
    padding-bottom: 21px;
  }

  @include from-mobile {
    padding: 80px 100px 0 100px;
  }

  > .header {
    width: 100%;
    padding-bottom: 40px;

    @include from-mobile {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include to-mobile {
      padding-bottom: 11px;
    }

    > .title {
      font-weight: normal;
      color: $base;
      font-size: 32px;
      line-height: (48/36);

      @include to-mobile {
        font-size: 20px;
        font-weight: 600;
      }

      &.-offset-right {
        @include from-mobile {
          padding-right: 30px;
        }
      }
    }

    > .data {
      position: relative;
      top: 2px;
    }
  }

  > .date {
    font-size: 13px;
    color: $base-o;
    margin-bottom: 40px;
    display: block;

    @include ls(10);
  }

  > .source {
    color: $blue;
    fill: none;
    stroke: $blue;
    transition: color 0.2s ease-in-out, stroke 0.2s ease-in-out;
    margin-top: 30px;
    font-size: 13px;
    display: inline-block;

    @include from-mobile {
      margin-bottom: 60px;
    }

    > .icon {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -2px;
      margin-left: 5px;
    }

    &:hover {
      color: $light-blue;
      stroke: $light-blue;
    }

    &:active {
      color: rgba($light-blue, 0.5);
      stroke: rgba($light-blue, 0.5);
    }
  }
  /* stylelint-disable */
  > .wysiwyg {
    h2, h3 {
      font-size: 16px;
      line-height: (30/16);
      font-weight: 600;

      &:not(:first-child) {
        margin-top: 65px;
      }

      @include to-mobile {
        &:not(:first-child) {
          margin-top: 30px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 32px;
        @include to-mobile {
          margin-bottom: 15px;
        }
      }
    }

    a {
      color: $blue;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $light-blue;
      }

      &:active {
        color: rgba($light-blue, 0.5);
      }
    }

    figure {
      width: 100%;
      padding-top: 5px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      figcaption {
        margin-top: 16px;
        font-size: 13px;
        color: $base-o;
        display: block;
      }
    }

    img {
      display: block;
      max-width: 100%;
      border-radius: 3px;
      margin-left: auto;
      margin-right: auto;
    }

    .caption {
      margin-top: -60px;
      margin-bottom: 76px;
      font-size: 13px;
      color: $base-o;
      display: block;

      @include to-mobile {
        margin-top: -20px;
        margin-bottom: 30px;
      }
    }

    p,li {
      font-size: 14px;
      color: rgba($base, 0.8);
      line-height: (24/14);
      @include to-mobile {
        margin-bottom: 20px;
      }

      @include ls(10)
    }

    p,ul,ol  {
      margin-bottom: 10px;
    }

    ul ul,
    ol ol,
    ul ol,
    ol ul {
      margin-top: 15px;
    }

    ul li,
    ol li {
      position: relative;
      padding-left: 35px;
      list-style: none;

      @include to-mobile {
        padding-left: 25px;
      }
    }

    ul li {
      &::before {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background-color: rgba($base, 0.3);
        top: 10px;
        left: 0;
      }
    }

    ol li {
      counter-increment: item;

      &:before {
        content: counter(item);
        position: absolute;
        top: 0;
        left: 0;
        color: rgba($base, 0.3);
      }
    }

    blockquote {
      display: block;
      width: calc(100% + 200px);
      margin-left: -100px;
      background-color: $base;
      background-image: url(../src/assets/img/general/icon/bubble-chat.svg);
      background-repeat: no-repeat;
      background-position: center 80px;
      background-size: 46px 42px;
      padding: 180px 100px 80px 100px;

      &:last-child {
        margin-bottom: -60px;
      }

      &:not(:first-child) {
        margin-top: 35px;
      }

      &:not(:last-child) {
        margin-bottom: 50px;
      }

      > p,
      > h3,
      > h4 {
        color: #fff;
        text-align: center;
      }

      > p {
        font-style: italic;
        margin-bottom: 30px;
        font-size: 16px;
      }

      > h3 {
        margin-bottom: 5px !important;
        font-weight: 600;
        line-height: (30/16);
        margin-top: 0;
      }

      > h4 {
        margin-bottom: 0;
        font-size: 13px;
        font-weight: normal;
        line-height: (30/16);
        margin-top: 0;
      }
    }
  }
  /* stylelint-enable */
}
