@import '@/assets/scss/vars.scss';
@import '@/assets/scss/mixins.scss';

.mobile-footer {
  text-align: center;
  background-color: $light-gray;

  @include from-tablet-portrait {
    display: none;
  }

  > .container {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid rgba($base, 0.08);

    > .soc {
      text-align: center;
    }

    > .copyright {
      color: $base-o;
      font-size: 13px;
      line-height: (24/13);
      margin-top: 30px;
      margin-bottom: 10px;

      @include ls(10);
    }

    > .policies {
      > .policy {
        color: $blue;
        font-size: 13px;
        line-height: (18/13);
        transition: color 0.2s ease-in-out;

        @include ls(10);

        &:hover {
          color: $light-blue;
        }

        &:active {
          color: rgba($light-blue, 0.5);
        }
      }
    }
  }
}
