{{> PopUp/PopupForm/PopupResume/PopupResume}}

<section class='section-content -popup -full-screen -center-child-box -bg-blue -hide -animation-hide' id='popup-media'>
  {{> MainHeader/MainHeader MainHeader.popup}}
  {{> PopUp/PopupForm/BaseForm/BaseForm PopUp.baseForm.media}}
</section>

<section class='section-content -popup -full-screen -center-child-box -bg-blue -hide -animation-hide' id='popup-support'>
  {{> MainHeader/MainHeader MainHeader.popup}}
  {{> PopUp/PopupForm/BaseForm/BaseForm PopUp.baseForm.support}}
</section>

<section class='section-content -popup -full-screen -center-child-box -bg-blue -hide -animation-hide' id='popup-product'>
  {{> MainHeader/MainHeader MainHeader.popup}}
  {{> PopUp/PopupForm/BaseForm/BaseForm PopUp.baseForm.product}}
</section>
