.chess-content {
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;

  &.-offset-top {
    margin-top: 60px;
  }

  > .row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:first-child) {
      margin-top: 110px;
    }

    > .box {
      padding-left: 40px;
      padding-right: 40px;
      box-sizing: border-box;

      &.-text-inside {
        width: 48%;
      }

      &.-image-inside {
        width: 52%;
      }

      > .title {
        font-size: 16px;
        font-weight: 600;
        line-height: (30/16);
      }
      /* stylelint-disable */
      ul {
        list-style: none;
        padding-left: 0;
      }

      li {
        position: relative;
        padding-left: 35px;
        font-size: 13px;
        color: $base-o;
        line-height: (24/13);
        margin-top: 30px;

        @include ls(10);

        &::before {
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          left: 0;
          top: 2px;
          background-image: url(../img/minified-svg/check-circle.svg);
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      /* stylelint-enable */

      > .img {
        width: 100%;
      }
    }

    &:nth-child(2n) {
      > .box {
        &.-text-inside {
          order: 2;
        }
      }
    }
  }
}
