@import '@/assets/scss/vars.scss';
@import '@/assets/scss/mixins.scss';

.project-logo {

  display: inline-block;
  font-size: 0;
  cursor: pointer;

  > .icon,
  > .text {
    display: inline-block;
    vertical-align: middle;
  }

  > .icon {
    @include to-mobile {
      width: 35px;
      height: 38px;
    }
  }

  > .text {
    margin-left: 10px;

    @include to-mobile {
      margin-left: 8px;
      width: 57px;
      height: 22px;
    }
  }

  &.-color {
    > .text {
      fill: $black;
    }

    > .icon {
      fill: $blue;
    }
  }

  &.-white {
    > .icon,
    > .text {
      fill: #fff;
    }
  }

  &.-popup-color {
    > .icon,
    > .text {
      fill: rgba(#fff, 1);
    }
  }
}
