<div class='form _mobile-hide' data-aos='fade-in' data-aos-duration='1200' data-aos-delay='600'>
  <div class='project-form'>
    <div class='container -no-offset'>
      <form action='http://jcash.network/auth/signup' class='form -inline _relative' data-action='external-form'>
        <label class='item -button-sibling'>
          <input type='email' class='field -button-sibling -input -fill' placeholder='Email Address' required=''>
        </label>
        <button class='send -inline js-send-form'><span class='text'>Sign Up</span></button>
      </form>
    </div>
  </div>
</div>
