<div class='form _mobile-hide' data-aos='fade-in' data-aos-duration='1200' data-aos-delay='600'>
  <div class='project-form'>
    <div class='container -no-offset'>
      <form action='https://jcash.network/auth/signup' class='form -inline _relative' data-action='external-form' data-event='sign-up-success'>
        <label class='item -button-sibling'>
          <input type='email' class='field -button-sibling -input -fill' placeholder='{{i18n_EnUS_FormText.emailOnly.email}}' required=''>
        </label>
        <button class='send -inline js-send-form'><span class='text'>{{i18n_EnUS_FormText.emailOnly.button}}</span></button>
      </form>
    </div>
  </div>
</div>
