<div class='form _mobile-hide' data-aos='fade-in' data-aos-duration='1200' data-aos-delay='600'>
  <div class='project-form'>
    <div class='container -no-offset'>
      <form action='https://jcash.network/login' class='form -inline _relative'>
        <label class='item -button-sibling'>
          <input type='email' class='field -button-sibling -input -fill' placeholder='{{i18n_EnUS_FormText.emailOnly.email}}' required=''>
        </label>
        <a href='https://jcash.network/login' class='send -inline'><span class='text'>{{i18n_EnUS_FormText.emailOnly.button}}</span></a>
      </form>
    </div>
  </div>
</div>
