<div class='page-header'>
  {{#is typePage '==' 'sharePage'}}
  <a href='#' class='back'>
    {{Icon iconName='arr-l' className='icon -color' iconWidth='11' iconHeight='11'}}
    <span class='text'>Back to careers</span>
  </a>
  <div class='soc _mobile-hide'>
    {{> RectangleSocial/RectangleSocial}}
  </div>
  {{/is}}

  {{#is typePage '==' 'policyPage'}}
  <div class='tab-links'>
      <a href='#' class='item -color -active'>Privacy Policy</a>
      <a href='#' class='item -color'>Cookies Policy</a>
  </div>
  {{/is}}

  {{#is typePage '==' 'newsPage'}}
  <div class='tab-links'>
      <a href='#' class='item -color -active'>Latest News</a>
      <a href='#' class='item -color'>Media Resources</a>
      <a href='#' class='item -color'>Social Channels</a>
  </div>
  {{/is}}
</div>
