<div class='page-header'>
  {{#is typePage '==' 'sharePage'}}
  <a href='#' class='back'>
    {{Icon iconName='arr-l' className='icon -color' iconWidth='11' iconHeight='11'}}
    <span class='text'>Back to careers</span>
  </a>
  {{> RectangleSocial/RectangleSocial}}
  {{/is}}

  {{#is typePage '==' 'policyPage'}}
  <div class="tab-links">
      <a href="#" class="item -color -active">Privacy Policy</a href="">
      <a href="#" class="item -color">Cookies Policy</a href="">
  </div>
  {{/is}}
</div>
