.page-header {
  padding-top: 195px;
  padding-bottom: 50px;

  @include from-mobile {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include to-mobile {
    padding-top: 99px;
    padding-bottom: 39px;
  }

  > .back {
    font-size: 0;

    @include to-mobile {
      display: block;
      width: calc(100% + 60px);
      margin-left: -30px;
      background-color: #fff;
      text-align: center;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    > .icon {
      width: 11px;
      height: 11px;
      fill: $base;
      margin-right: 15px;
      display: inline-block;
      vertical-align: middle;
      transition: fill 0.2s ease-in-out;
    }

    > .text {
      font-size: 13px;
      line-height: (24/13);
      color: $base;
      display: inline-block;
      vertical-align: middle;
      transition: color 0.2s ease-in-out;

      @include ls(10);
    }

    &:hover {
      > .icon {
        fill: $light-blue;
      }

      > .text {
        color: $light-blue;
      }
    }

    &:active {
      > .icon {
        fill: $h-light-blue;
      }

      > .text {
        color: $h-light-blue;
      }
    }
  }
}
