<div class='page-header'>
  {{#is typePage '==' 'vacancy'}}
  <a href='careers.html' class='back'>
    {{Icon iconName='arr-l' className='icon -color' iconWidth='11' iconHeight='11'}}
    <span class='text'>{{texts.backToCareers}}</span>
  </a>
  <div class='soc _mobile-hide'>
    {{!--{{> RectangleSocial/RectangleSocial}}--}}
    <div class="ya-share2" data-services="facebook,twitter,linkedin"></div>
  </div>
  {{/is}}

  {{#is typePage '==' 'policyPage'}}
  <div class='tab-links'>
      <a href='#' class='item -color -active'>Privacy Policy</a>
      <a href='#' class='item -color'>Cookies Policy</a>
  </div>
  {{/is}}

  {{#is typePage '==' 'newsPage'}}
  {{!--<div class='tab-links'>
      <a href='#' class='item -color -active'>{{texts.LatestNews}}</a>
      <a href='#' class='item -color'>{{texts.MediaResources}}</a>
      <a href='#' class='item -color'>{{texts.SocialChannels}}</a>
  </div>--}}
  <a href='news.html' class='back'>
    {{Icon iconName='arr-l' className='icon -color' iconWidth='11' iconHeight='11'}}
    <span class='text'>{{texts.backToNews}}</span>
  </a>
  <div class='soc _mobile-hide'>
    {{!--{{> RectangleSocial/RectangleSocial}}--}}
    <div class="ya-share2" data-services="facebook,twitter,linkedin"></div>
  </div>
  {{/is}}
</div>
