.partners-card {
  @extend ._all-reset;

  font-size: 0;

  &.-offset-top {
    padding-top: 40px;
  }

  > .item {
    display: inline-block;
    vertical-align: top;
    width: 25%;

    > .logo {
      width: 100%;
    }
  }
}
