.partners-card {
  @extend ._all-reset;

  display: block;
  width: 100%;
  font-size: 0;

  &.-offset-top {
    padding-top: 40px;
  }

  > .item {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    height: 160px;
    text-align: center;

    &::after {
      @extend ._v-center::after;
    }

    > .logo {
      max-width: 100%;
      max-height: 100%;

      @extend ._v-center;
    }
  }
}
