.main-header {
  @extend ._all-reset;

  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 50px;
  z-index: 1000;

  &.-small {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &.-bg-white {
    background-color: #fff;
  }

  > .container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
