<header class='main-header {{modClassContainer}}'>
  <div class='container _container-fluid'>

    <a href='/' class='project-logo {{modClass}}'>
      {{Icon iconName='logo-icon' className='icon' iconWidth='' iconHeight=''}}
      {{Icon iconName='logo-text' className='text' iconWidth='' iconHeight=''}}
    </a>
    <button class='popup-toggle {{modClass}} {{popUpClass}}' {{#is popUpId '!=' ''}}data-popup-id='{{this.popUpId}}'{{/is}}>
      {{#is openPopup '==' ''}}
      <span class='text'>MENU</span>
      {{Icon iconName='i-menu' className='icon' iconWidth='' iconHeight=''}}
      {{else}}
      <span class='text'>CLOSE</span>
      {{Icon iconName='i-cross' className='cross' iconWidth='' iconHeight=''}}
      {{/is}}
    </button>

  </div>
</header>
