<div class='career-slider'>
  <div class='swiper-container -career-slider'>
    <div class='swiper-wrapper'>
      {{#each ProjectSlider.careerSlide}}
      <div class='swiper-slide -career-slide'>
        <div class='career-slide'>
          <img src='/assets/img/content/{{this.img}}' srcset='/assets/img/content/{{this.img2x}} 2x' alt='{{this.name}} | {{this.position}}' class='img'>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class='swiper-pagination -career-slider'></div>
</div>
