<div class='rectangle-social'>
  <a href='#' class='link -facebook'>
    {{Icon iconName='s-facebook' className='icon' iconWidth='24' iconHeight='24'}}
    <span class='text'>share</span>
  </a>
  <a href='#' class='link -twitter'>
    {{Icon iconName='s-twitter' className='icon' iconWidth='24' iconHeight='24'}}
    <span class='text'>share</span>
  </a>
  <a href='#' class='link -linkedin'>
    {{Icon iconName='s-linkedin' className='icon' iconWidth='24' iconHeight='24'}}
    <span class='text'>share</span>
  </a>
</div>
