    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Jibrel Network</title>
    <meta name="description" content="The Jibrel Network provides traditional financial assets, such as currencies, bonds and equities, as standard ERC-20 tokens on the Ethereum blockchain." />
    <meta name="image" content="https://jibrel.network/assets/img/social.png">
    <meta itemprop="name" content="Jibrel Network" />
    <meta itemprop="description" content="The Jibrel Network provides traditional financial assets, such as currencies, bonds and equities, as standard ERC-20 tokens on the Ethereum blockchain." />
    <meta itemprop="image" content="https://jibrel.network/assets/img/social.png" />
    <meta name="og:title" content="Jibrel Network" />
    <meta name="og:description" content="The Jibrel Network provides traditional financial assets, such as currencies, bonds and equities, as standard ERC-20 tokens on the Ethereum blockchain." />
    <meta name="og:image" content="https://jibrel.network/assets/img/social.png" />
    <meta name="og:url" content="https://jibrel.network" />
    <meta name="og:site_name" content="Jibrel Network" />
    <meta name="og:locale" content="en_US" />
    <meta name="og:type" content="website" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv='Cache-control' content='no-cache, no-store, must-revalidate'>
    <meta http-equiv='Pragma' content='no-cache'>