<div class='footer-menu'>
  {{#each FooterMenu}}
  <div class='box'>
    <a href="{{this.link}}" class='title -link'>{{this.title}}</a>
    {{#each this.links}}
    <div class='item {{modClass}}'>
      {{#is this.link '!=' ''}}
      <a href='{{this.link}}' class='link'>{{this.text}}</a>
      {{/is}}
      {{#is this.modal '!=' ''}}
      <button class='link js-popup-open' data-popup-id='{{this.modal}}'>{{this.text}}</button>
      {{/is}}
    </div>
    {{/each}}
  </div>
  {{/each}}
  <div class='box'>
    <div class='title'>Social</div>
    {{> CircleSocial/CircleSocial}}
  </div>
</div>
