<div class='circle-social'>
  <a href='https://www.facebook.com/jibrelnetwork/' target='_blank' class='link'>{{Icon iconName='s-c-facebook' className='icon' iconWidth='24' iconHeight='24'}}</a>
  <a href='https://twitter.com/JibrelNetwork' target='_blank' class='link'>{{Icon iconName='s-c-twitter' className='icon' iconWidth='24' iconHeight='24'}}</a>
  <a href='https://www.linkedin.com/company/jibrel-network/' class='link' target='_blank'>{{Icon iconName='s-c-linkedin' className='icon' iconWidth='24' iconHeight='24'}}</a>
  <a href='https://medium.com/@jibrelnetwork' class='link' target='_blank'>{{Icon iconName='s-c-medium' className='icon' iconWidth='24' iconHeight='24'}}</a>
</div>
