<div class='support-box'>
  <p class='descr -text-center -box-center -w-limit-650 -offset-bottom'>Can’t find an answer to your question in our FAQ? <br>Our dedicated technical support team will be happy to help.</p>
    <a href='mailto:support@jibrel.network' class='link'>support@jibrel.network</a>
  <div class='button'>
    <button class='j-button -fill-on-white-bg -w-limit-360'><span class='text'>Need help?</span></button>
  </div>
  <div class='info'>Average response time: 12.6 hours</div>
</div>
