.content-message {
  text-align: center;

  > .title {
    font-size: 24px;
    color: #fff;
    font-weight: normal;
    line-height: (36/24);
    margin-bottom: 15px;

    @include to-mobile {
      font-size: 16px;
      font-weight: 600;
    }
  }

  > .descr {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 14px;
    line-height: (21/14);

    @include ls(10);

    @include to-mobile {
      font-size: 13px;
    }
  }

  > .button {
    margin-top: 50px;
  }
}
