@import '@/assets/scss/vars.scss';
@import '@/assets/scss/mixins.scss';

.back-link {
  position: absolute;
  left: 110px;
  top: 50%;
  margin-top: -18px;
  fill: $base;
  z-index: 5;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 0.2s ease-in-out, background-color 0.2s ease-in-out;
  border-radius: 100px;

  &:hover {
    background-color: rgba($blue, 0.1);
    fill: $blue
  }

  @media (max-width: 1475px) {
    left: 30px;
  }

  > .icon {
    width: 21px;
    height: 20px;
  }
}