<div class="mobile-menu">
  <div class='container'>
    <div class="box">
      <a href="about.html" class="title -link">About</a>
      <div class="item">
        <a href="news.html" class="link">Press &amp; Media</a>
      </div>
      <div class="item">
        <a href="careers.html" class="link">Careers</a>
      </div>
      <div class="item">
        <a href="careers.html" class="link">Vacancies</a>
      </div>
    </div>
    <div class="box">
      <a href="products.html" class="title -link">Consumer</a>
      <div class="item">
        <a href="jwallet.html" class="link">Jibrel Wallet</a>
      </div>
      <div class="item">
        <a href="#" class="link">Jibrel Cash</a>
      </div>
      <div class="item">
        <a href="#" class="link">Jibrel Node</a>
      </div>
    </div>
    <div class="box">
      <a href="enterprise.html" class="title -link">Enterprise</a>
      <div class="item">
        <a href="jsearch.html" class="link">Jibrel Search</a>
      </div>
      <div class="item">
        <a href="jclear.html" class="link">Jibrel Clear</a>
      </div>
      <div class="item">
        <a href="jcore.html" class="link">Jibrel Core</a>
      </div>
    </div>
    <div class="box">
      <a href="contact-us.html" class="title -link">Contact</a>
      <div class="item">
        <button class="link js-popup-open" data-popup-id="#popup-product">Product team</button>
      </div>
      <div class="item">
        <button class="link js-popup-open" data-popup-id="#popup-media">Media team</button>
      </div>
      <div class="item">
        <button class="link js-popup-open" data-popup-id="#popup-support">Support</button>
      </div>
    </div>
  </div>
</div>
