.mobile-menu {
  padding-top: 85px;

  @include from-mobile {
    display: none;
  }

  > .container {
    height: calc(100vh - 85px);
    overflow-y: auto;

    > .box {
      text-align: center;
      position: relative;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 30px;
      padding-right: 30px;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: rgba($base, 0.1);
        top: 0;
        left: 0;
      }

      > .title {
        font-size: 14px;
        font-weight: 600;
        color: $base;
        display: inline-block;
      }

      > .item {
        > .link {
          font-size: 14px;
          line-height: (21/14);
          color: rgba($base, 0.8);

          @include ls(10);
        }
      }

      > .title,
      > .item {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }
}
