<section class='section-content -popup -full-screen -center-child-box -bg-menu -hide -animation-hide' id='popup-menu'>
  <div class='overlay js-popup-close'></div>

  <nav class='main-menu'>
    <div class='close'>
      <button class='popup-toggle js-popup-close'>
        {{Icon iconName='i-cross' className='cross -white' iconWidth='' iconHeight=''}}
      </button>
    </div>
    <div class='container'>
      {{#each PopUp.MainMenu.otherSection}}
      <div class='box'>
        <div class='name'>{{this.name}}</div>
        {{#each this.pages}}
        <div class='item'>
          {{#is this.link '!=' ''}}
          <a href='{{this.link}}' class='link' {{#is this.externalLink '==' 'true'}}target='_blank' {{/is}}>
            {{this.name}}
            {{!--{{#is this.externalLink '==' 'true'}} {{Icon iconName='i-external-link' className='icom' iconWidth='15' iconHeight='9'}} {{/is}}--}}
          </a>
          {{/is}}
          {{#is this.modal '!=' ''}}
          <button class='link js-popup-open' data-popup-id='{{this.modal}}'>{{this.name}}</button>
          {{/is}}
        </div>
        {{/each}}
      </div>
      {{/each}}
    </div>

    <div class='button'>
      <a href='https://jcash.network/auth/signin' class='j-button -border-on-dark-bg' target='_blank'><span class='text'>{{i18n_EnUS_ProjectMenu.SignIn}}</span></a>
    </div>
  </nav>

</section>
